<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-button id="open-modal"> Please Select Date </ion-button>
  <p>
    <!-- alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh
    alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh alsjdkdsjkfhlskjfhshsdjfhsdjfhsdljkfh -->

  </p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <app-calendar-demo></app-calendar-demo>
    </ng-template>
  </ion-modal>
</ion-content>
